form {
  width: 500px;
}

table {
  width: 750px;
}

th,
td {
  width: (750/3) px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.destinations-container,
.ticket-container {
  display: flex;
  justify-content: center;
}

.destination-table {
  display: flex;
  flex-direction: row;
}

.airport-col,
.arrival-col {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.ticket-button {
  margin: 30px;
}
