form {
  width: 500px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.destinations-container {
  display: flex;
  justify-content: center;
}

.destination-table {
  display: flex;
  flex-direction: row;
}

.airport-col,
.arrival-col {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
