<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> -->
    <title>View All Flights</title>
  </head>
  <body>
    <nav>
      <a href="/flights">ALL FLIGHTS</a>
      <a href="/flights/new">ADD FLIGHTS</a>
    </nav>
    <div class="flights-container">
      <% if (flights.length === 0) { %>
      <p>No flights currently available</p>
      <% } else { %> <% for (let flight of flights) { %>
      <div class="flight-container">
        <p>Airline: <%= flight.airline %></p>
        <p>Airport: <%= flight.airport %></p>
        <p>Flight No.: <%= flight.flightNo %></p>
        <p>Departs: <%= flight.departs %></p>
      </div>
      <% } %> <% } %>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  </body>
</html>
